/node_modules/
/.vscode-test/
.yarn/
.local/
.eslintcache
.stylelintcache
coverage/
.webpack/
out/
public/*
!public/overview.webp
!public/from_vsix.webp
dist/
**/*db
**/waldiez_out/
**/*cache
**/*.vsix
**/*.DS_Store
.nyc_output/
**/*.mmd
