---
name: Lint and test (dev)

env:
  HUSKY: 0

# yamllint disable rule:truthy
on:
  pull_request:
    branches: [dev]
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches: [dev]
  merge_group:
  workflow_dispatch:

jobs:
  build-waldiez:
    runs-on: ubuntu-latest
    steps:
      - name: Get waldiez dev branch commit
        id: waldiez-commit
        run: |
          COMMIT=$(curl -s https://api.github.com/repos/waldiez/waldiez/commits/dev | jq -r '.sha[0:7]')
          echo "commit=$COMMIT" >> $GITHUB_OUTPUT

      - name: Setup bun
        uses: oven-sh/setup-bun@v2.0.2

      - name: Build waldiez
        run: |
          mkdir -p ./.local
          git clone --depth 1 --branch dev https://github.com/waldiez/waldiez.git
          cd waldiez
          bun install
          bun run build:lib
          bun run archive
          cp out/archive/waldiez-react-*.tgz ../.local/waldiez-react.tgz

      - name: Upload waldiez artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: waldiez-react
          path: ./.local/waldiez-react.tgz
          retention-days: 1

  lint:
    runs-on: ubuntu-latest
    needs: build-waldiez
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 22
          package-manager-cache: false

      - name: Download waldiez artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: waldiez-react
          path: .local

      - name: Move artifact to correct location
        run: |
          mv .local/waldiez-react.tgz .local/waldiez-react.tgz || echo "File already in place"
          ls -la .local/

      - name: Install Yarn and dependencies
        run: |
          corepack enable
          yarn set version stable
          yarn remove @waldiez/react || true
          yarn add @waldiez/react@file:./.local/waldiez-react.tgz
          yarn install --no-immutable

      - name: Lint
        run: yarn run lint

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    needs: build-waldiez
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 22
          package-manager-cache: false

      - name: Download waldiez artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: waldiez-react
          path: .local

      - name: Move artifact to correct location (Unix)
        if: runner.os != 'Windows'
        run: |
          mv .local/waldiez-react.tgz .local/waldiez-react.tgz || echo "File already in place"
          ls -la .local/

      - name: Move artifact to correct location (Windows)
        if: runner.os == 'Windows'
        run: |
          move .local\waldiez-react.tgz .local\waldiez-react.tgz || echo "File already in place"
          dir .local

      - name: Setup Yarn and dependencies
        run: |
          corepack enable
          yarn set version stable
          yarn remove @waldiez/react || true
          yarn add @waldiez/react@file:./.local/waldiez-react.tgz
          yarn install --no-immutable

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.12"

      - name: Display Python version
        run: python --version

      - name: Install waldiez python package from git
        run: |
          pip install --upgrade pip
          pip install git+https://github.com/waldiez/waldiez.git@dev

      - name: Run tests on ubuntu-latest
        run: |
          sudo apt update && sudo apt install -y xvfb libasound2t64 libgbm1 libgtk-3-0t64 libnss3 > /dev/null 2>&1 || true
          xvfb-run -a yarn run test
        if: runner.os == 'Linux'

      - name: Run tests on windows-latest and macos-latest
        run: yarn run test
        if: runner.os != 'Linux'
